# ***INPUT AND OUTPUT***

Write a code to get the input in the given format and print the output in the given format

Input Description:
To take an integer value

Output Description:
Print the integer value

Sample Input :
2

Sample Output :
2

In [ ]:
A=int(input())
print(A)

10
10

In [ ]:
A=int(input())
print(A)

50
50

# BASICS PYTHON

In [ ]:
#Variable

A=50
A='Guvi'
A=3.14
A=[1,2,3,4,5]
user_inputs=5
UserInput=50
Age=25
weight=50
user_2=50
List=80
A=25
B=30
print(A+B)

55

Data Types

In [ ]:
I=50  #Int  Adhar, Mobile, Age,Account Num,OTP
I=-50 #Int

F=3.14 # Float  Temp, Height, Price, Weight, Distance, Marks,CGPA,
F=-3.14 # Float 


S='50'  #
S="50"  #
S="Guvi" #
S='!@#$%^&*()'# String is a Group of char

true=50
B=True #Bool,1 ON,Start,Open,Head,Yes,Pass
B=False #Bool,0,OFF,Stop,Close,Tail,No,Fail

In [ ]:
5==5

True

In [ ]:
5=='5'

False

# Data Structures 

list, Tuple, Set and Dictionary

In [ ]:
#List 

L=[5,3.14,'Guvi',True,[10,20,30,40]] #List can contain any data types or data structure 

  #0   1    2      3         4     #index   Add,Remove, Manipulate (List is a Mutable)


print(L[0])

5

In [ ]:
print(L[4])

[10, 20, 30, 40]

In [ ]:
print(L[4][0])

10

In [ ]:
#Tuple

T=(5,3.14,'Guvi',True,[10,20,30,40])  #Tuple contain any data types or data structure #Immutable 

print(T[2])

Guvi

In [ ]:
passed_student=('Sachin','EEE',2010,'A') #Tuple

present_student=['Dhoni','ECE','II-A','B'] #list

In [ ]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
dir(tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [ ]:
S=(1,2,4,5,1,3,8,9,1,5,6)
print(S.index(6))  # find the position 

print(S[2]) # Find the Value

10
4

In [ ]:
S.index(6)

10

In [ ]:
print()

In [ ]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [ ]:
#Set

S={1,2,4,7,9,1,4,6,3,1,2,1,4,7,5} #Set will not allow duplicate , Set is an un order, Set you cant access data

S

{1, 2, 3, 4, 5, 6, 7, 9}

In [ ]:
S[4]

TypeError: ignored

In [ ]:
S=list(S)
S

[1, 2, 3, 4, 5, 6, 7, 9]

In [ ]:
S[5]

6

In [ ]:
Passport_num=['A25','A35','B40','C80','A25','A40','A25','B40','D11','C80'] #1000 , A25-2, B-40-1, C-80-1, 

len(Passport_num)

10

In [ ]:
No_Dup=set(Passport_num)
print(No_Dup)
print("No of unique values",len(No_Dup))

{'D11', 'A35', 'B40', 'C80', 'A25', 'A40'}
No of unique values 6

In [ ]:
print("Total No of Duplicates : ", len(Passport_num)-len(No_Dup))

Total No of Duplicates :  4

list=[]
tuple=()
set={}
dict={}

function=()
Access=[]

In [ ]:
#Dictionary 

D={'Name':'Sachin',
   'Age':40,
   'Salary':45000}
D

{'Age': 40, 'Name': 'Sachin', 'Salary': 45000}

In [ ]:
D['Name']

'Sachin'

In [ ]:
Emp={'Emp_ID':[14,25,7,89,63],
     'Name':['Raina','Rohit','Dhoni','Sachin','Virat'],
     'Age':[30,29,35,42,32],
     "Salary":[30000,32000,40000,45000,35000]}

Emp

{'Age': [30, 29, 35, 42, 32],
 'Emp_ID': [14, 25, 7, 89, 63],
 'Name': ['Raina', 'Rohit', 'Dhoni', 'Sachin', 'Virat'],
 'Salary': [30000, 32000, 40000, 45000, 35000]}

In [ ]:
Emp['Name'][3]

'Sachin'

In [ ]:
print('Emp-Id : ',Emp['Emp_ID'][3])
print('Name : ',Emp['Name'][3])
print('Age : ',Emp['Age'][3])
print('Salary : ',Emp['Salary'][3])

Emp-Id :  89
Name :  Sachin
Age :  42
Salary :  45000

In [ ]:
Emp['Emp_ID'].index(89)

3

In [ ]:
S=[1,2,3,4,5,6]

S.index(5)

4

In [ ]:
id=int(input('Enter the Emp-Id : ')) #63

pos=Emp['Emp_ID'].index(id) #4

print(f'Index of {id}:',pos)

print('Emp-Id : ',Emp['Emp_ID'][pos]) #63
print('Name : ',Emp['Name'][pos]) #Virat
print('Age : ',Emp['Age'][pos])#32
print('Salary : ',Emp['Salary'][pos]) #35000

Enter the Emp-Id : 63
Index of 63: 4
Emp-Id :  63
Name :  Virat
Age :  32
Salary :  35000

In [ ]:
Name = input("Enter Your Name : ")
Age=int(input("Enter the Age : "))

print(f'My Name is {Name} and My Age is {Age}')

Enter Your Name : Sachin
Enter the Age : 45
My Name is Sachin and My Age is 45

#Input and Output

In [ ]:
# 5 / 5 o/p

A=int(input())
print(A)
print(type(A))

5
5
<class 'int'>

In [ ]:
A=input()
print(A)
print(type(A))

5
5
<class 'str'>

In [ ]:
A=input()
B=input()
print(A+B)

55
10
5510

In [ ]:
A=int(input())
B=int(input())
print(A+B)

55
10
65

In [ ]:
A=int(input())
B=input()
print(A+B)

10
5

TypeError: ignored

In [ ]:
A=int(input())
B=input()
print(A*B)

5
guvi
guvi guvi guvi guvi guvi

In [ ]:
#1 2 3 4 5 / 1 2 3 4 5 o/p

A=input()
print(A)
print(type(A))

1 2 3 4 5
1 2 3 4 5
<class 'str'>

In [ ]:
A=int(input())
print(A)
print(type(A))

1 2 3 4 5

ValueError: ignored

In [ ]:
A=input().split(' ') # 1 2 3 4 5
A

1 2 3 4 5

['1', '2', '3', '4', '5']

In [ ]:
def SQR(x):
  return int(x)**2

In [ ]:
SQR(5)

25

In [ ]:
B=list(map(int,A))
print(B)

[1, 2, 3, 4, 5]

In [ ]:
print(*B)

1 2 3 4 5

In [ ]:
print(B)
print(A)

[1, 2, 3, 4, 5]
['1', '2', '3', '4', '5']

In [ ]:
print(' '.join(A)) #1*2*3*4*5

1 2 3 4 5

In [ ]:
print(' '.join(B))

TypeError: ignored

In [ ]:
print(*B)

1 2 3 4 5

In [ ]:
A=input().split(' ')
B=list(map(int,A))
print(*B)

1 2 3 4 5
1 2 3 4 5

In [ ]:
A=list(map(int,input().split()))
print(*A)

2 3 4 5 6
2 3 4 5 6

In [ ]:
A=list(map(int,input().split()))
B=list(map(int,input().split()))

print(*A)
print(*B)

5 6
7 8 9 4 6
5 6
7 8 9 4 6

Conditional statment

if, else and elif

In [ ]:
# Age>=14 and weight >=45

Name=input('Enter your Name : ')
Age=int(input('Enter Your Age : '))
Wt=float(input('Enter Your Weight : '))

if Age>=14 and Wt>=45:
  print(Name,'You are Eligible for Ride')

else:
  print(Name,'You are Not Eligible for Ride')

Enter your Name : Ram
Enter Your Age : 16
Enter Your Weight : 40
Ram You are Not Eligible for Ride

In [ ]:
Name=input('Enter your Name : ')
Age=int(input('Enter Your Age : '))

if Age>=14:
  Wt=float(input('Enter Your Weight : '))

  if Wt>=45:
    print(Name,'You are Eligible for Ride')
  else:
    print(Name,'You are Not Eligible  for Ride because you are under weight')


else:
  print(Name,'You are Not Eligible  for Ride because you are under Age')

Enter your Name : Sita
Enter Your Age : 24
Enter Your Weight : 47
Sita You are Eligible for Ride

In [ ]:
Student_Name=input('Enter Student Name : ')
Mark=float(input("Enter the Mark : "))


#90> A, 80>B, 70>C, 60>D, 50>E , 50<Fail  # less 0  or mark >100 Enter the valid mark

if Mark>0 and Mark<=100:
  if Mark>90 and Mark<100:
    print(Student_Name,'You are Grade-A')

  elif Mark>80 and Mark<=90:
    print(Student_Name,'You are Grade-B')

  elif Mark>70 and Mark<=80:
    print(Student_Name,'You are Grade-C')

  elif Mark>60 and Mark<=70:
    print(Student_Name,'You are Grade-D')

  elif Mark>50 and Mark<=60:
    print(Student_Name,'You are Grade-E')

  else:
    print(Student_Name,'You are Fail')
else:
  print('Enter the valid Mark')

Enter Student Name : Sachin
Enter the Mark : 112
Enter the valid Mark

In [ ]:
Student_Name=input('Enter Student Name : ')
Mark=float(input("Enter the Mark : "))


if Mark>90 and Mark<=100:
  print(Student_Name,'You are Grade-A')

elif Mark>80 and Mark<=90:
  print(Student_Name,'You are Grade-B')

elif Mark>70 and Mark<=80:
  print(Student_Name,'You are Grade-C')

elif Mark>60 and Mark<=70:
  print(Student_Name,'You are Grade-D')

elif Mark>50 and Mark<=60:
  print(Student_Name,'You are Grade-E')

elif Mark>=0 and Mark<=50:
  print(Student_Name,'You are Fail')

else:
  print('Enter Valid Mark')

Enter Student Name : Sachin
Enter the Mark : -2
Enter Valid Mark

# LOOPS

for loop and while loop

In [ ]:
Word=input()  #Guvi Geek Network

for i in Word:
  print(i)

Guvi Geek Network
G
u
v
i

G
e
e
k

N
e
t
w
o
r
k

In [ ]:
S=[1,2,3,4,5,6,7,8,9]


for num in S:
  print(num)

1
2
3
4
5
6
7
8
9

In [ ]:
A=53

if A%2==0:
  print('Even')
else:
  print('Odd')

Odd

In [ ]:
S=[1,4,8,9,4,14,56,4,32,78,45,30,15,30,42,80,40,26]


Even=[]
Odd=[]

for num in S:
  if num%2==0:
    Even.append(num)
    print()
  else:
    Odd.append(num)
  
print(sorted(Even))
print(sorted(Odd))

[4, 4, 4, 8, 14, 26, 30, 30, 32, 40, 42, 56, 78, 80]
[1, 9, 15, 45]

In [ ]:
S=[1,4,8,9,4,14,56,4,32,78,45,30,15,30,42,80,40,26]

for num in S:
  if num%2==0:
 
    print(num,'is a Even Num')
  else:
   print(num,'is a Odd Num')

1 is a Odd Num
4 is a Even Num
8 is a Even Num
9 is a Odd Num
4 is a Even Num
14 is a Even Num
56 is a Even Num
4 is a Even Num
32 is a Even Num
78 is a Even Num
45 is a Odd Num
30 is a Even Num
15 is a Odd Num
30 is a Even Num
42 is a Even Num
80 is a Even Num
40 is a Even Num
26 is a Even Num

In [ ]:
sorted(S)

[1, 4, 8, 9, 14, 15, 26, 30, 30, 32, 40, 42, 45, 56, 78, 80]

In [ ]:
A=[1,2,3,4]


A.append(50)

print(A)

[1, 2, 3, 4, 50]

In [ ]:
A.append(1000)

print(A)

[1, 2, 3, 4, 50, 1000]

In [ ]:
S=[1,4,8,9,4,14,56,4,32,78,45,30,15,30,42,80,40,26,60]
L_3=[] #%3
L_5=[] #%5
L_8=[] #%8
L=[]
for F in S:
  if F%3==0:
    L_3.append(F)
  if F%5==0:
    L_5.append(F)
  if F%8==0:
    L_8.append(F)
  if F%3!=0 and F%5!=0 and F%8!=0 :
    L.append(F)
print(L_3)
print(L_5)
print(L_8)
print(L)

[9, 78, 45, 30, 15, 30, 42, 60]
[45, 30, 15, 30, 80, 40, 60]
[8, 56, 32, 80, 40]
[1, 4, 4, 14, 4, 26]

In [ ]:
S=[1,2,3,4]

S.append('Guvi')
S

[1, 2, 3, 4, 'Guvi']

In [ ]:
S="Guvi Geek Network"  # gUvI gEEk nEtwOrk

W=''
for i in S:
  if i in 'aeiouAEIOU':
    W=W+i.upper()
  else:
    W=W+i.lower()

print(W)

gUvI gEEk nEtwOrk

In [ ]:
S="Guvi Geek Network"

W=[]
for i in S:
  if i in 'aeiouAEIOU':
    W.append(i.upper())
  else:
    W.append(i.lower())

print(''.join(W))

gUvI gEEk nEtwOrk

In [ ]:
A="Guvi"

W=''
for i in A:
  W=W+i+'*'
  print(W)

G*
G*u*
G*u*v*
G*u*v*i*

In [ ]:
#   5 10

10
10
10
10
10

In [ ]:
L=[1,2,3,4,5]
  #0 1 2 3 4 
len(L)-1

5

In [ ]:
#0 to 10

for i in range(0,10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(3,10+1):
   print(i)

3
4
5
6
7
8
9
10

In [ ]:
# 4 7 10 13 16 19 22...40

for i in range(4,40+1,3):
  print(i)

4
7
10
13
16
19
22
25
28
31
34
37
40

In [ ]:
#100 to 80

for i in range(100,80-1,-7):
  print(i)

100
93
86

In [ ]:
x,y=list(map(int,input().split())) 

for i in range(1,x+1): 
  print(y)

4 6
6
6
6
6

In [ ]:
x,y=list(map(int,input().split())) 
print(x)
print(y)

5 10
5
10

In [ ]:
L=[10,5,0,6,9,10]
sorted(L,reverse=True)

[10, 10, 9, 6, 5, 0]

In [ ]:
A,B=x

print(A)
print(B)

5
6

In [ ]:
S=[11,12,13,14,51,16,17,18,19]

for i in range(0,len(S)):
  print(S[i])

11
12
13
14
51
16
17
18
19

In [ ]:
S[8]

9

In [ ]:
S=[1,4,8,9,4,14,56,4,32,78,45,30,15,30,42,80,40,26]


Even=[]
Odd=[]

# use range function to complete

for i in range(0,len(S)):
  
  if S[i]%2==0:
    Even.append(S[i])
  else:
    Odd.append(S[i])

print(Odd)

print(Even)

[1, 9, 45, 15]
[4, 8, 4, 14, 56, 4, 32, 78, 30, 30, 42, 80, 40, 26]

In [ ]:
S=[1,4,8,9,4,14,56,4,32,78,45,30,15,30,42,80,40,26]

Even_Ele_index=[]

for i in S:
  if i%2==0:
    Even_Ele_index.append(S.index(i))

Even_Ele_index

[1, 2, 1, 5, 6, 1, 8, 9, 11, 11, 14, 15, 16, 17]

In [ ]:
S=[1,4,8,9,4,14,56,4,32,78,45,30,15,30,42,80,40,26]

Even_Ele_index=[]

for i in range(0,len(S)):
  if S[i]%2==0:
    Even_Ele_index.append(i)

Even_Ele_index

[1, 2, 4, 5, 6, 7, 8, 9, 11, 13, 14, 15, 16, 17]

In [ ]:
#Zip Function

A=[1,2,3,4,5,6]
B=[10,20,30,40,50,100,500]

for i,j in zip(A,B):
  print(i+j)

11
22
33
44
55
106

In [ ]:
Product={'Pro_Name':['Sugar','Salt','Rice','Dhall','Oil'],
         'Pro_Qty':[4,2,20,10,5],
         'Pro_Price':[40,20,60,120,180]}

Product

{'Pro_Name': ['Sugar', 'Salt', 'Rice', 'Dhall', 'Oil'],
 'Pro_Price': [40, 20, 60, 120, 180],
 'Pro_Qty': [4, 2, 20, 10, 5]}

In [ ]:
Product['Total_Price']=[]
Product

{'Pro_Name': ['Sugar', 'Salt', 'Rice', 'Dhall', 'Oil'],
 'Pro_Price': [40, 20, 60, 120, 180],
 'Pro_Qty': [4, 2, 20, 10, 5],
 'Total_Price': []}

In [ ]:
for P,Q in zip(Product['Pro_Price'],Product['Pro_Qty']):

  TP=P*Q
  Product['Total_Price'].append(TP)

Product

{'Pro_Name': ['Sugar', 'Salt', 'Rice', 'Dhall', 'Oil'],
 'Pro_Price': [40, 20, 60, 120, 180],
 'Pro_Qty': [4, 2, 20, 10, 5],
 'Total_Price': [160, 40, 1200, 1200, 900]}

In [ ]:
Product={'Pro_Name':['Sugar','Salt','Rice','Dhall','Oil'],
         'Pro_Qty':[4,2,20,10,5],
         'Pro_Price':[40,20,60,120,180]}

Product

{'Pro_Name': ['Sugar', 'Salt', 'Rice', 'Dhall', 'Oil'],
 'Pro_Price': [40, 20, 60, 120, 180],
 'Pro_Qty': [4, 2, 20, 10, 5]}

In [ ]:
GST_5=['Salt','Rice','Milk','Curd']  #5% Gst
GST_12=['Sugar','Dhall','Perfume','Pickle','Toothpaste'] #12% Gst
GST_18=['Ghee','Oil','Butter','Cheese','Shampoo'] #18% Gst

Product['Total_Price']=[]

Product['Total_Price with GST']=[]

for P,Q,N in zip(Product['Pro_Price'],Product['Pro_Qty'],Product['Pro_Name']):
  TP=P*Q
  Product['Total_Price'].append(TP)

  if N in GST_5:
    GP=TP+(TP*0.05)
    Product['Total_Price with GST'].append(GP)
  elif N in GST_12:
    GP=TP+(TP*0.12)
    Product['Total_Price with GST'].append(GP)
  elif N in GST_18:
    GP=TP+(TP*0.18)
    Product['Total_Price with GST'].append(GP)
Product

{'Pro_Name': ['Sugar', 'Salt', 'Rice', 'Dhall', 'Oil'],
 'Pro_Price': [40, 20, 60, 120, 180],
 'Pro_Qty': [4, 2, 20, 10, 5],
 'Total_Price': [160, 40, 1200, 1200, 900],
 'Total_Price with GST': [179.2, 42.0, 1260.0, 1344.0, 1062.0]}

In [ ]:
sum(Product['Total_Price with GST'])

3887.2

In [ ]:
sum(Product['Total_Price'])

3500

In [ ]:

for P,Q,N in zip(Product['Pro_Price'],Product['Pro_Qty'],Product['Pro_Name']):

  print(f'{N} Rs{P} Qty {Q} Kg')

print("Bill Amount is with Gst Rs : ",sum(Product['Total_Price with GST']))

Sugar Rs40 Qty 4 Kg
Salt Rs20 Qty 2 Kg
Rice Rs60 Qty 20 Kg
Dhall Rs120 Qty 10 Kg
Oil Rs180 Qty 5 Kg
Bill Amount is with Gst Rs :  3887.2

While Loop

In [ ]:
#0 to 10

for i in range(0,11):
  print(i)

0
1
2
3
4
5
6
7
8
9
10

In [ ]:

i=0

while i<=5:
  print(i)
  i=i+1

0
1
2
3
4
5

In [ ]:
i=0

while i<=5:
  i=i+1
  print(i)

1
2
3
4
5
6

In [ ]:
i=0

while i<=25:
  i=i+3
  print(i)
  i=i+1

3
7
11
15
19
23
27

In [ ]:
S=[1,4,8,9,4,14,56,4,32,78,45,30,15,30,42,80,40,26]
len(S)

18

In [ ]:
S=[1,4,8,9,4,14,56,4,32,78,45,30,15,30,42,80,40,26]


Even=[]
Odd=[]
i=0
while i<len(S):

  if S[i]%2==0:
    Even.append(S[i])
    
  else:
    Odd.append(S[i])

    
  i=i+1
    
  
  
print(Even)
print(Odd)

[4, 8, 4, 14, 56, 4, 32, 78, 30, 30, 42, 80, 40, 26]
[1, 9, 45, 15]

In [ ]:
S=[1,2,5,6,7,9,5,3,1,6,4,99,25,63]

i=0

while i<len(S):
  if S[i]==6:
    break   

  else:
    print(S[i])
    i=i+1

1
2
5

In [ ]:
S=[1,2,5,6,7,9,5,3,1,6,4,99,25,63]

i=0

while i<len(S):
  if S[i]==6:
    pass   
    
  else:
    print(S[i])
  i=i+1

1
2
5
7
9
5
3
1
4
99
25
63

In [ ]:
S=[1,2,5,6,7,9,5,3,1,6,4,99,25,63]

i=0

while i<len(S):
  if S[i]==6:
    i=i+1
    continue  
    
  else:
    print(S[i])
  i=i+1

1
2
5
7
9
5
3
1
4
99
25
63

#Task

Consider today is Sunday,In a restaurant, too much crowd in the cash counter the cashier needs some help to calculate the bills.
that restaurant has different recipes they are,
Menu:-
oniondosa-90 rs
plaindosa-40 rs
ravadosa-75 rs
idli-10 rs
vada-5 rs
poori-30 rs
chapathi -30 rs
pongal-35 rs
tea-25 rs
coffee-35 rs
meals-75 rs

Note: The price details described above is without GST. You need to add 5 percent of GST for the total amount of a bill.

If there is no recipe in the menu, print "Sorry, Only recipes on the menu!"

Input:

Single line consists of recipes in string and with count in integer as shown below.

Output:

Print output as "Total Price(GST inclusive):Rs xx.x"

Sample Testcase:

Input:

vada 2 coffee 1

Output:

Total Price(GST inclusive):Rs 47.25

In [ ]:
45*0.05

2.25

In [ ]:
food=input().split()

Qty=[]
Item=[]


for i in food:
  if i.isalpha():
    Item.append(i)
  else:
    Qty.append(int(i))

print(Item)
print(Qty)

Rice 2 sugar 1 coffee 2 dhall 5
['Rice', 'sugar', 'coffee', 'dhall']
[2, 1, 2, 5]

In [ ]:
S="Guvi geek"

S.replace('e','*')

'Guvi g**k'